version: '3.3'

networks:
  shared-network:
    external: true

services:
  app:
    image: fx:latest
    container_name: "fx"    
    env_file: 
    - .env
    ports:
      - "8082:8082"
    networks:
      - shared-network
